.big-btn {
    transition: background-color 0.3s, border-color 0.3s, transform 0.1s;
    /* Add any additional styles for your buttons here */
}

.big-btn:hover {
    background-color: #94C3B3; /* Change to a color that fits your design */
    border-color: #d0d0d0; /* Change to a color that fits your design */
    color: #0F7275;
}

.big-btn:active {
    background-color: #94C3B3; /* Darker color for pressed state */
    border: 4px solid #0F7275;
}

.big-btn[disabled] img {
    filter: grayscale(100%); /* Apply grayscale filter to disabled button images */
    opacity: 0.6; /* Optional: adjust opacity for a more subdued effect */
}

.big-btn[disabled] {
    background-color: #f0f0f0; /* Light background color for disabled state */
    border-color: #d0d0d0; /* Light border color for disabled state */
    cursor: not-allowed; /* Show a not-allowed cursor */
}
/* Active (selected) button */
.active-btn {
    background-color: #94C3B3 !important; /* Active color */
    border: 4px solid #0F7275 !important;
}
